* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif; /*tipo letra */
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;  /*tamaño de la letra */
  font-family: Robot, sans-serif;   /*tipo de la letra */
  text-align: center; /* alineacion del texto */
  margin: 20px 0;     /* maargen sup e inf - izq y der */
}

.tarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* alinea horizontal */
  align-items: center;     /* alinea vertical */
}

.contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /*me faltaba centrar  */
}

.logo {
  width: 400px;
  height: 50px;
}

.lista {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}